*{
  /* margin: 0;
  padding: 0; */
  font-family: 'Inter', sans-serif;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

#red,#yellow,#green{
  height: 100px;
  width: 100px;
  margin: 10px;
}

#red{
  background-color: red;
}

#yellow{
  background-color: yellow;
}

#green{
  background-color: green;
}

.container{
  display: flex;
}


.clearBtn{
  text-align: center;
  padding: 10px;
  margin:10px;
  background-color: palevioletred;
  border-color: palevioletred;
  font-weight: bold;
}